<div class="row mt-5">
 <div class="col-md-8 offset-md-2">
 <app-my-loader *ngIf="loading"></app-my-loader>
<div class="row mt-3 mb-5" *ngIf="!loading">
    <div class="col-md-8">
      <h2>{{ book.titre }} de {{ book.auteur }}.</h2>
      <img [src]="directory+book.image" style="width:500px;height:300px">
      <div class="description mt-2"><p class="text-justify">{{  book.description }}</p></div>
    </div>
</div>
<span class="mb-4">Commentaires {{ book.comments.length  }}</span><br>
<div>
<app-commentaire  *ngFor="let comment of book.comments" [comment] ="comment"></app-commentaire>
</div>
<div class="row mt-3" *ngIf="!loading">
  <div class="col-md-8" *ngIf="loggedIn">
    <form #f="ngForm">
    <div class="form-group" >
      <span>Ajouter un commentaire</span>
      <textarea class="form-control" [(ngModel)]="contenu" name="contenu" placeholder="ajouter un commentaire"></textarea>
      <button class="btn btn-success mt-2" (click)="addComment($event,f)">ajouter</button>
    </div>
    </form>

  </div>
  <span *ngIf="!loggedIn"><a href="#" (click)="redirectLogin($event)">Connecter</a> vous pour ajouter un commentaire.</span>
</div>
</div>
</div>
