/* You can add global styles to this file, and also import other style files */
@media(min-width:100px){
    .btn-center {
        margin-left:180px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
@media(min-width:576px){
    .btn-center {
        margin-left:200px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
@media(min-width:768px){
    .btn-center {
        margin-left:185px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
@media(min-width:992px){
    .btn-center {
        margin-left:250px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
@media(min-width:1200px){
    .btn-center {
        margin-left:300px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
.comment {
    white-space: normal;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 8px -1px rgba(0,0,0,.05);
} 
.comment_content {
    font-size: 1em;
    font-weight: 400;
    color: #414141;
    line-height: 1.80;
    padding: 0;
    margin: 0 0 2px;
    position: relative;
    float: left;
    background: #fff;
    font-size: 16px;
    width: calc(100% - 62px);
    padding: 10px 20px 20px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,.05);
   
    
}
.authForm {
    font-size:16px;
    font-weight: 400;
    border:1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow:0 2px 6px -1px rgba(0,0,0,.05);
    background-color: whitesmoke;
}

